  <ion-header>


  <ion-navbar>
	<ion-title>
		<img src="assets/imgs/vine_logo_banner.png" width="100">
	</ion-title>

  	<ion-buttons end>
  		<button (click)="openPeople()" class="button">
		      		<ion-icon name="person-add"></ion-icon>
		      	</button>
  	</ion-buttons>

  </ion-navbar>

</ion-header>

<!--
You can use the <ion-buttons> directive inside of <ion-navbar>
to do this. <ion-buttons start> will add a button to the left side and <ion-buttons end> will add to the right.
<button (click)="share('f',clip.file,clip.image,clip.name);" class="button button-light">
		      		 <ion-icon name="logo-facebook"></ion-icon>
		      	</button>
-->


  <ion-content>

	  <ion-refresher (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content
		      pullingIcon="arrow-dropdown"
		      pullingText="Pull to refresh"
		      refreshingSpinner="circles"
		      refreshingText="Refreshing...">
    	</ion-refresher-content>
	  </ion-refresher>

	<p class="text-center">
      <b><a class="color-white">{{data.notFollowingAnyoneMessage1}}</a></b>
    </p>
    <p class="text-center">
      <b><a class="color-white">{{data.notFollowingAnyoneMessage2}}</a></b>
    </p>

	<div class="list vine-feeds" *ngFor="let clip of data.feedClips">
	  <div class="item item-avatar avatar-small">
	    <img class="b b-2x b-white" (click)="goUser(clip.username)" src="{{clip.image}}">
	    <span class="badge badge-balanced rounded"></span>
	    <div class="row no-padder">
	      <div class="col col-67 no-padder">
	        <div class="font-bold text-ellipsis text-sm" (click)="goUser(clip.username)">@{{clip.username}}</div>
	      </div>
	      <div>
	        	<!--  <button ion-button icon-left float-right clear small (click)="presentPopover($event)">
	      			<ion-icon name="more"></ion-icon>
	      		</button>-->
	      		<button ion-button icon-right clear small name="warning" (click)="blockClip(clip)">
		        	<ion-icon name="warning"></ion-icon>
		        	<div>Report</div>
		      	</button>
	      	</div>
	      
	    </div>
	  </div>
		  <div class="item item-body no-padder b-none">
		    <video controls class="video w-full" playsinline="true" mute (play)="increasePlayCount(clip.id)" poster="{{clip.clipImage}}">
		      <source [src]="clip.file" type="video/mp4">
		      <source [src]="clip.file" type="video/ogg">
		    </video>

		    <div class="wrapper-sm">
		      <div class="caption no-padder m-b-sm">
		        {{clip.name}}
		      </div>

		     <div center class="actions row no-padder row-center color-grey-500">
		     		      			      	
		      	<button ion-button icon-left clear small>
		      		<ion-icon name="eye"></ion-icon>
		      		<div>{{clip.views}} Views</div>
		      	</button>
		      	
			     <button ion-button icon-left clear small (click)="like(clip.id)">
		        	<ion-icon name="thumbs-up"></ion-icon>
		        	<div>{{clip.likes}} Likes</div>
		      	</button>
		      
	            <button ion-button icon-left clear small (click)="share(clip.file, clip.image, clip.name)">
	              <ion-icon name="share" ios="ios-share" md="md-share"></ion-icon>
	              <div>Share</div>
	            </button>
	
		      	<button ion-button icon-left clear small (click)="saveToCameraRoll(clip.file)">
		      		<i class="icon ion-ios-download-outline"></i>
		      		<div>Download</div>
		      	</button>
	      	
		      </div>
		      <!-- <div>
		      	<button ion-button icon-right clear small name="warning" (click)="blockClip(clip)">
		        	<ion-icon name="warning"></ion-icon>
		        	<div>Report</div>
		      	</button>
		      </div> -->
		      	 <!--  <button (click)="share('w',clip.file,clip.image,clip.name);" class="button button-light">
		       		 <ion-icon name="logo-whatsapp"></ion-icon>
		      	</button>
		      	<button (click)="share('t',clip.file,clip.image,clip.name);" class="button button-light">
		      		 <ion-icon name="logo-twitter"></ion-icon>
		      	</button>

		         <div class="col no-padder">
		          <i class="icon ion-heart b b-light b-2x rounded"></i>
		          <span class="text-xs">{{clip.likes}}</span>
		        </div>
		         <div class="col no-padder" ui-sref="home.comment">
		          <i class="icon ion-navicon b b-light b-2x rounded"></i>
		          <span class="text-xs">4.0k</span>
		        </div>
		        <div class="col no-padder">
		          <i class="icon ion-forward b b-light b-2x rounded"></i>
		          <span class="text-xs">2.0k</span>
		        </div>
		        <div class="col no-padder text-center">
		           <i class="icon ion-more text-2x" ng-click="actionSheet()"></i>
		        </div>
		      </div>-->
			</div>
		</div>
	</div>
  </ion-content>
